
body {
    font-family: tahoma;
    text-align: justify;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    position: relative;
}


html {
    scroll-behavior: smooth;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }

  ::-webkit-scrollbar {
    background-color: #2d2d2d;
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px #2d2d2d; 
    border-radius: 25px;
  }

::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 25px;
}

.logo-nav {
    width: 40px;
    height: 40px;
}

nav {
    font-size: 20px;
    font-weight: 500;
    background-color: none;
    background-color: #00000080;
}

nav .navbar-nav li a {
    color: white !important;
    display: inline-block ;
    position: relative ;
}

.navbar-toggler-icon {
    color: white !important;
}

nav .navbar-nav li a::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #EE8C9F;
    transition: transform 0.2s ease-in;
    color: #EE8C9F !important;
}

nav .navbar-nav li a:hover::before {
    transform: scaleX(1);
}

nav .navbar-nav li a:hover {
    color: #EE8C9F !important;

}

nav:hover {
    background: #111111;
    border-bottom: 2px solid white;
}

.navbar.black-bg{
    background:#111111;
    border-bottom: 2px solid white;
  }

#landing {
    width: 100%;
    position: relative; 
	z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    min-height: 900px;
}

#landing::before {
    content: '';
    position: absolute;
    background: url(../img/glow.png);
    background-repeat: no-repeat;
    background-size: cover;
    will-change: transform;
    width: 100%;
    height: 100%;
    top:0;
    right:0;
}

/* #landing::after {
    content: "";
    position: absolute;    
    background-image: url(../img/wave-bot.png);   
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
} */


.landing-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    height: 50%;
    z-index: 1;
    /* background-color: blue; */
}

.name-container {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.name {
    font-family: 'Nixie One', cursive;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    font-size: 3rem;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
    text-align: left;
}

.name::after {
    content: '';
    display: block;
    bottom: 0;
    width: 50%;
    height: 2px;
    background-color: #EE8C9F;
}

.subname {
    font-size: 1.5rem;
    /* font-family: 'Monoton', cursive; */
    font-family: sans-serif;
    color: white;
}


.logo-circle {
    width:100%;
    height:100%;
    position: relative;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background: none;
    /* background-color: rgb(218, 113, 134); */
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    white-space: nowrap;
}

.logo-circle:before {
    content: '';
    position: absolute;
    width:100%;
    height:100%;
    border-radius:50%;
    transition: 1s;
    z-index: -1;
    box-shadow: 0 0 65px #EE8C9F;
    -webkit-animation: glow 1.5s ease-in-out infinite alternate;
    -moz-animation: glow 1.5s ease-in-out infinite alternate;
    animation: glow 1.5s ease-in-out infinite alternate;
    filter: blur(1px);
  }

  @-webkit-keyframes glow {
    from {
        box-shadow: 0 0 65px #EE8C9F, 0 0 145px #ffffff
    }
    to {
        box-shadow: 0 0 15px #EE8C9F, 0 0 115px #ffffff
    }
  }

.logo-name {
    font-family: 'Monoton', cursive;
    font-family: 'Vampiro One', cursive;
    text-transform: uppercase;
    font-size: 40px;
    color: white;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
    display: flex;
    justify-self: center;
    transform: rotate(10deg);
}

.logo-subname {
    font-family: 'Monoton', cursive;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
    position: absolute;
    bottom: 15%;
}

@-webkit-keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 40px #f37d89, 0 0 50px #f37d89, 0 0 60px #f37d89
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 20px #f37d89, 0 0 35px #f37d89, 0 0 40px #f37d89
    }
}

.btn-1:active {
	position:relative;
	top:1px;
}


@keyframes text {
    0%{
        color: black;
        margin-bottom: -40px;
    }

    80%{ 
        margin-bottom: -40px;
    }
}



  @keyframes scale {
    50% {
      transform: scale(1.04);
    }
    100% {
        transform: scale(1);
      }
}

#about {
    background-color: #191919;
    padding-top: 10px;
}

.text-highlight {
    color: #ecc99b;
    font-weight: bolder;
    font: outline;
}

.about-me {
    display: flex;
}

.about-me .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about-description {
    color: white;
}

.about-description .about-header {
    color: rgb(236, 201, 155);
    margin-top: 110px;
}

.about-description .par-1 {
    margin-top: 30px;
}

.about-description .par-2 {
    margin-top: 50px;
    font-weight: bolder;
}

.about-description .hobbies-container {
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: #ecc99b;
    /* background-color: grey; */
    
}

.hobbies-container .row {
    width: 100%;
}


.hobbies-card {
    position: relative;
    display: flex;
    width: 100%;
    /* margin: 0 10px; */
    margin-bottom: 30px;
    padding: 30px;
    align-items: center;
    justify-content: center;
    border: 2px solid #ecc99b;
    box-shadow: 8px 8px 1px #c74a57;
}

.hobbies-card-front {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    white-space: nowrap;
    margin: 10px 0px;
}

.hobbies-desc {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: auto;
    height: 0;
    transition: all 0.1s;
    background-color: #191919;
    z-index: 1;
    color: white;
    overflow: hidden;
    cursor: pointer;
}

.hobbies-desc p {
    font-size: 0.8rem;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width: 90%; 
}

.about-description .hobbies-container .row div:hover > .hobbies-desc {
    height: 100%;
    overflow: auto;
}

.hobbies-card-front i {
    font-size: 3.4rem;
    margin: 18px auto;
}



.about-description .line {
    border: 2px solid #ecc99b;
    margin-top: 120px;
}


.about-description .btn {
    /* color: #2D2D2D !important; */
    background-color: #ecc99b;
    border: 2px solid #ecc99b;
    padding: 10px 10px;
    font-weight: bolder;
    transition: all 0.1s ease-in-out 0s;
    /* margin-left: 5px; */
    outline: none;

}

.about-description .cv-button {
    color: #2D2D2D;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;

    background-color: #ecc99b;
    border: 2px solid #ecc99b;
    padding: 10px 10px;
    font-weight: bolder;
    transition: all 0.1s ease-in-out 0s;
    /* margin-left: 5px; */
    outline: none;
    border-radius: 4px;
}

.about-description .cv-button:hover {
    color: white !important;
    background-color: rgba(0, 0, 0, 0);
    transform: scale(1.05);
    cursor: pointer;
}

.about-description .cv-button:active {
    transform: scale(1);
}

.about-description .about-links li {
    display: inline-block;
}

.about-description .about-links{
    margin-top: 20px;
    padding-left: 0;
}

.about-description .about-links li a i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    border: 1px solid #ecc99b;
    margin-right: 10px;
    font-size: 22px;
    color: #ecc99b;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

.about-description .about-links li a i:hover {
    background-color: #ecc99b;
    color: #2D2D2D;
}

.about-me .about-photo {
    width: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.about-me .about-photo img{
    width: 90%;
    height: auto;
    margin: auto;
    align-self: center;
    /* max-height: 1000px;
    width: auto; */
    animation: scale 6s infinite;
}



#skills {
    background-color: #202020;
    /* background: url(../img/rob.jpg); */
    /* background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover; */
    position: relative;
    padding: 40px;
    padding-top: 350px;
    padding-bottom: 200px;
    text-align: center;

}


#skills::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100%;
    background: url(../img/shapes-4.png);
    background-repeat: no-repeat;
    background-position-x: center;
}


.other-skills-header {
    font-weight: 600;
    margin: 40px;
    font-size: 2rem;
    color: #ecc99b;
}

.skills-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.skills-container {
    position: relative;
    margin: auto;
    border-radius: 5px;
    width: 90%;
}

.skills-container .row {
    margin: auto;
    background-color: #20202090;
    display: flex;
    justify-content: space-evenly;
}

.skills-container .row .card-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.card-col {
    padding: 0px 15px ;
}

.skills-container .row .card-container .card{
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    margin-top: 20px;
    background: #1b1b1b;
    border-radius: 4px;
    border: none;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
    backface-visibility: hidden;
    transform: rotateY(0deg);
    transition: all 0.4s;
    cursor: pointer;
    /* background: linear-gradient(135deg, #1b1b1b 75%, #c74a57 15%);
    background: -webkit-linear-gradient(135deg, #1b1b1b 75%, #c74a57 15%);  
    background: -moz-linear-gradient(135deg, #1b1b1b 75%, #c74a57 15%);  
    background: -o-linear-gradient(135deg, #1b1b1b 75%, #c74a57 15%);  
    background: linear-gradient(135deg, #1b1b1b 75%, #c74a57 15%);  
    -webkit-transition: all 1000ms linear;
    -ms-transition: all 1000ms linear;
    transition: all 1000ms linear; */
}
.skills-container .row .card-container .card > * {
    z-index: 15;
}

.skills-container .row .card-container .card::after {
    content: '';
    position: absolute;
    bottom: -120%;
    width: 100%;
    height: 100%;
    background-color:#c74a57;
    /* transform: rotate(-45deg); */
    transform: skewY(135deg);
    z-index: 3;
    transition: 0.4s;
}

.skills-container .row .card-container .card-back {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    backface-visibility: hidden;
    font-size: 28px;
    color: goldenrod;
    background: #1b1b1b;
    border-radius: 4px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;
    height: 300px;
    transform: rotateY(180deg);
    cursor: pointer;
}


.skills-container .row .card-container .card-back .star-empty{
    color: gray;
}


.skills-container .row .card-container .card h3 {
    margin-top: 21px;
    color: #ecc99b;
}

.skills-container .row .card-container .card i {
    font-size: 120px;
    color: #ecc99b;
}

.skills-container .row .card-container .card:hover::after {
    transform: skewY(225deg);
    bottom: 0%;
    /* height: 120%; */
}


#projects{
    background-color: #191919;
    width: 100%;
    padding: 40px;
    text-align: center;
    overflow: hidden;
}

#projects .row {
    width: 90%;
    display: flex;
    justify-content: center;
}

.projects-header,
.skills-header,
.contact-header {
    position: relative;
    text-align: left;
    font-weight: 600;
    margin: 40px auto;
    font-size: 2rem;
    color: #ecc99b;
}

.projects-header::before,
.skills-header::before,
.contact-header::before {
    content: '/ ';
    color: #c74a57;
}

.projects-header::after,
.skills-header::after,
.contact-header::after {
    content: ' /';
    color: #c74a57;
}


.project-cards {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pseudo-container{

    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.project-front-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #1c1c1c90;
    opacity: 1;
    display: flex;
    flex-direction: column;
}

.project-column {
    display: flex;
    justify-content: center;
    width: 100%;
}

.project-front-container p {
    font-family: sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    color: #ecc99b;
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 1px 1px black;
    justify-self: center;
    margin: auto;
}

.project-container {
    position: relative;
    margin: 30px auto;
    width: 100%;
    height: 300px;
    z-index: 1;
    cursor: pointer;
}

.project-container::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 60%;
    box-shadow: 0 0 25px #c74a57;
    transition: all 0.5s;
    z-index: -1;
}

.project-container:hover::before {
    width: 100%;
}

.project-details-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: #1c1c1c;
    justify-content: space-evenly;
    transition: all 0.7s ease-out;
    z-index: 5;
    overflow: hidden;
}

.project-details-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 0;
    height: 1px;
    background-color: #ecc99b;
    z-index: -1;
    transition: all 0.7s ease-in;
}

.project-container:hover > .project-details-container::before {
    width: 70%;
}

.project-container:hover > .project-details-container {
    height: 100%;
}

.project-links-container {
    display: flex;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    justify-content: space-around;
    align-items: flex-end;
}

.project-links-container::after {
    content: '';
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%);
    width: 2px;
    height: 80%;
    background-color: #ecc99b;
}

.project-link{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    color: #ecc99b;
    font-size: 1rem;
}

.project-link i {
    color: #ecc99b;
    font-size: 3rem;
}

.project-link i:hover {
    color: #f37d89;
    text-shadow: 0px 0px 5px #ee143f;
}

.project-tech-container {
    position: relative;
    top: 0;
    left: 0;
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: flex-start;
    align-items: center;
}

.project-tech-container p {
    margin-top: 2%;
    color: #ecc99b;
    font-size: 1rem;
    font-weight: 800;
}

.technologies-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;

}

.technology-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    min-width: 60px;
    margin-right: 8px;
    margin-bottom: 5px;
    background-color: #c74a57;
    box-shadow: 3px 3px 10px #141414;
    color: #fff;
}

.technology-wrapper p {
    margin: 0;
    font-size: 0.7rem;
}


.project-top {
    width: 100%;
    height: 60%;
    position: relative;
    z-index: 2;
    overflow: hidden;
    background-color: #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-top p {
    position: relative;
    font-family: 'Vampiro One', cursive;
    color: white;
    font-size: 2rem;
    /* font-family: sans-serif; */
    font-weight: 800;
    text-shadow: 1px 1px black;
    opacity: 1;
    z-index: 1;
    padding: 5px;
}


.project-bottom {
    width: 100%;
    height: 40%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: #1c1c1c;
}

.project-bottom p {
    /* font-family: 'Nixie One', cursive; */
    font-size: 0.8rem;
    font-weight: 600;
    text-shadow: 1px 1px black;
    text-transform: none;
}

.project-bottom p::after {
    display: block;
    content: '';
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: #ecc99b;
    width: 80%;
    height: 0x;
    margin-top: 10px;
}

.project-bottom p::before {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    display: block;
    content: '';
    background-color: #ecc99b;
    width: 80%;
    height: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.project-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0;
    opacity: 0.5;
}

/* ----------------------------CONTACT SECTION----------------------------------- */


#contact {
    background-color: #161616;
    position: relative;
    width: 100%;
    padding: 40px;
    text-align: center;
    overflow: hidden;
}

.contact-container {
    max-width: 900px;
    padding: 0 35px;
    margin: auto;
    /* background-color: #292929; */
    border-radius: 2px;
    margin-bottom: 10px;
    font-size: 0.9rem;
}

.contact-me {
    font-size: 1.7rem;
    color: #ecc99b;
    text-transform: uppercase;
    font-weight: bolder;
}

.contact-form {
    padding: 30px 0;
}

.form-input {
    position: relative;
    margin: 20px auto;
    padding: 20px 0px;
    display: block;
    width: 100%;
    background-color: #fff0;
    outline: none;
    border: none;
    color: #c2c2c2;
    font-weight: bolder;
    border-bottom: 2px solid #ecc99b;
    cursor: pointer;
}

/* .form-input:focus {
    box-shadow: 0 0 15px #c74a57;
} */

textarea {
    height: 180px;
    resize: none;
    margin-bottom: 20px;
}

.form-button {
    color: #2D2D2D !important;
    background-color: #ecc99b;
    border: 2px solid #ecc99b;
    transition: all 0.1s ease-in-out 0s;
    padding: 10px 90px;
    font-weight: bolder;
    margin-top: 30px;
}

.form-button:hover {
        color: white !important;
        background-color: rgba(0, 0, 0, 0);
        cursor: pointer;
}
    

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #494949;
    font-weight: bolder;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #2d2d2d;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #2d2d2d;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #2d2d2d;
  }

  .status {
      width: 100%;
      min-height: 50px;
      margin: auto;
      font-size: 0.8rem;
      font-weight: bolder;
      text-align: left;
  }

  .invalid-mail,
  .invalid-name,
  .invalid-message {
      color: red;
      
  }

  footer {
      width: 100vw;
      padding: 5px 0;
      font-size: 0.7rem;
      text-align: center;
      color: #c2c2c2;
      background-color: #111111;
  }

  footer p {
      margin: 6px auto;
  }

@media screen and (max-width: 800px) {
    
    html {
        font-size: 14px;
    }

    .about-description .par-2 {
        margin-top: 20px;
    }

    #landing {
        min-height: 600px;
    }

    
    #projects,
    #skills,
    #contact {
        padding: 10px;
    }

    #skills {
        padding-top: 200px;
        padding-bottom: 50px;
    }

    .about-description .about-header {
        margin-top: 40px;
    }

    .about-description .line {
        margin-top: 30px;
    }

    .about-description .about-links li a i {
        font-size: 12px;
        width: 30px;
        height: 30px;
    }

    .projects-header, .skills-header, .contact-header {
        margin: 50px 10%;
    }

    #skills {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    .skills-container .row .card-container .card,
    .skills-container .row .card-container .card-back {
        width: 200px;
        height: 250px;
    }

    .skills-container .row .card-container .card i {
        font-size: 100px;
    }

    .skills-container .row .card-container .card h3 {
        font-size: 12px;
    }


    .technologies-container img {
        width: 40px;
        height: 40px;
    }

}


@media screen and (max-width: 600px) {
    
    html {
        font-size: 10px;
    }

    #landing {
        min-height: 350px;
    }

    #projects,
    #skills,
    #contact {
        padding: 10px;
    }

    #skills {
        padding-top: 200px;
        padding-bottom: 50px;
    }

    .name {
        font-size: 2rem;
    }

    .skills-container .row .card-container .card,
    .skills-container .row .card-container .card-back {
        width: 100%;
        height: 120px;
    }

    .skills-container .row .card-container .card i 
    {
        font-size: 28px;
    }

    .skills-container .row .card-container .card-back i{
        font-size: 15px;
    }

    .technologies-container img {
        width: 30px;
        height: 30px;
    }

    
    .project-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
} 